torch
numpy
scipy
openai
langchain
chromadb
serpapi
fredapi
beautifulsoup4
pandas
yfinance
pytrends
selenium
secedgar
wikitextparser
sentence-transformers==2.2.2
transformers
google-search-results
bitsandbytes
pathos
pandas_datareader
langchain_community
